.h1 {
    color: blue;
    font-size: 28px;
    text-align: center;
  }

  body {
    background-color: black;
    color: white;
  }

  .contenedor-imagenes {
    display: flex;
    justify-content: center;
  }

.ingredientes {
    flex: 1;
}

.imagen-receta {
    max-width: 300px;
    margin: 0 10px;
  }


.h4 {
    text-align: center;
}