.h1 {
    color: blue;
    font-size: 28px;
    text-align: center;
  }

  body {
    background-color: black;
    color: white;
  }

.contenedor {
    overflow: auto;
}

.ingredientes {
    flex: 1;
}

.imagen-receta {
    float: left;
    margin-right: 20px;
    max-width: 400px;
}

